{% block gds_content %}
<div class="bg-white relative inline-block p-3">
  <div id="swagger-ui" class="swagger-ui-wrap" data-swagger-def="{{ values['data-swagger-def'] }}">

  </div>
</div>
{% endblock %}